// Place all the styles related to the main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html {
  height: 100%;
  width: 100%;
}

body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0
}

#map-canvas {
  float: left;
  height: 100%;
  width: 50%;
}

#list {
  float: left;
  width: 400px;
  border: 1px solid green;
}

.show {
  color: blue;
}